.counter-section{  
    background-color: rgba(184, 226, 242, 0.2);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 3%;
}

.title-section{
    font-weight: bolder;
    font-size: xx-large;
    width: 55%;
} 

.image-section{
    width: 34%;
}

.image-section img{
    width: 100%;
    border-radius: 10px;
}

.content-section{
    margin-top: 2%;
    color: #363737;
    font-size: medium;
    font-weight: lighter;
    word-spacing: 2;
    line-height: 2;
}

.counter-content{
    display: flex;
    flex-wrap: wrap;
}

.counter-div{
    display: flex;
    width: 50%;
    margin-bottom: 10%;
}

.widget-img_counter{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(184,226,242,1);
    width: 17%;
    margin-right: 5%;
    border-radius: 7px;
    display: flex;
    align-self: center;
}

.widget-content{
    color: #363737;
    font-size: small;
    font-weight: lighter;
    width: 90%;
}

.widget-counter{
    color: #6879D0; 
    font-size: xx-large;
    font-weight: bolder;
}

.combine-counterContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}