.heading{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;    
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.transplant_title, .recruitment_title{
    margin: 5%;
    font-size: medium;
    font-weight: bold;
}

.transplant, .recruitment{
    width: 25%;
    box-shadow: 0px 0px 10px 0px rgba(184,226,242,1);
    border-radius: 10px;
}

.transplant img, .recruitment img{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

.recruitment_intro, .transplant_intro{
    line-height: 2;
    margin: 3%;
    font-size: small;
    color: #363737;
}

.read_more{
    margin: 3%;
    color: orange;
    background-color: white;
    border: none;
}

.recruitment_popup, .transplant_popup{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.recruitment_content, .transplant_content{
    background-color: white;
    margin: 5% auto;
    border: 1px solid #888888;
    width: 50%;
    height: 75%;
    font-weight: bold;
    line-height: 2;
    word-spacing: 5px;
    border-radius: 10px;
}

.transplant_content{
    width: 80%;
    height: 85%;
}

.recruitment_content h4, .transplant_content h4{
    color: #363737;
}

.recruitment_content h4, .recruitment_content h2, .transplant_content h4, .transplant_content h2{
    padding: 1%;
}

.recruitment_content hr, .transplant_content hr{
    opacity: 0.3;
    margin: 2%;
}

.read_more{
    cursor: pointer;
}

.show {
    display: block;
}

.cross{
    display: block;
    margin-left: auto;
    margin-right: 0;
    background-color: #800000;
    color: white;
    border: none;
}

.cross:hover{
    color: white;
    font-size: bold;
    background-color: red;   
}